<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>
    <add key="ServerName" value="192.168.1.5"/> <!--数据库IP地址-->
    <add key="DatabaseFile" value="D:\Choicesoft\Food\DATA\FBAUDITT.GDB"/> <!--数据库路径-->
    <add key="UserName" value="SYSDBA"/> <!--数据库登录名-->
    <add key="Password" value="masterkey"/> <!--数据库登录密码-->
    <add key="ApiUserCode" value="fzself"/> <!--使用者用户名-->
    <add key="ApiPassword" value="fz@gz123"/> <!--使用者密码-->
    <add key="StoreCode" value="A25182"/> <!--店铺号-->
    <add key="TenderCode" value="现金,微支付,支付宝,支票,团购,银联,现金2,VISA,银联2,中行,微商城"/> <!--所要的支付方式-->
    <add key="SKU" value="A2518201"/> <!--货号-->
    <add key="PayCashNum" value="11"/> <!--现金支付:上传到11-->
    <add key="PayCash" value="现金,微支付,支付宝,支票,团购,微商城"/> <!--现金支付下的支付方式-->
    <add key="PayCardNum" value="12"/> <!--国内卡支付：上传到12-->
    <add key="PayCard" value="PayCard=银联,现金2,VISA,银联2,中行"/> <!--国内卡支付下的支付方式-->
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="posSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="posSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://119.131.247.18:8010/pos.asmx" binding="basicHttpBinding"
        bindingConfiguration="posSoap" contract="UploadService.posSoap"
        name="posSoap" />
      <endpoint address="http://119.131.247.18:8010/pos.asmx" binding="customBinding"
        bindingConfiguration="posSoap12" contract="UploadService.posSoap"
        name="posSoap12" />
    </client>
  </system.serviceModel>
</configuration>
